@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --main-bg-color: #2874f0;
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 5px 10px;
  color: white;
  background: var(--main-bg-color);
  border: 2px solid white;
  border-radius: 7px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

p {
  display: flex;
}

.my-1 {
  margin: 5px 0;
  /* justify-content: center; */
  /* align-items: center; */
}
